<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Check</title>
</head>

<body style="border: solid 1px; margin: 150px 500px; padding: 15px 30px 40px;">
	<div th:if="${msg}">
		<h1 th:text="${msg}"></h1>
	</div>
	<form style="width:100px;margin:20px 220px 10px;" th:action=@{/home} method="get">
		<a href='/home'><button id="btn">ホーム</button></a>
	</form>
	<form style="width:100px;margin:10px 220px 5px;" th:action=@{/signin} method="get">
		<a href='/signin'><button id="btn">ログイン</button></a>
	</form>
</body>

</html>