<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>

<body style="border: solid 1px; margin: 150px 500px; padding: 15px 30px 40px;">
	<div id="main">
		<div id="title">
			<div th:if="${msg}">
				<h1 th:text="${msg}" >ようこそ！</h1>
				<h1 th:text="${msg1}">ようこそ！</h1>
			</div>
		</div>
		<div id="link" th:if="${log_in_out}">
			<form style="width:100px;margin:20px 220px 10px;" th:action=@{/signin} method="get">
				<a href='/signin'><button id="btn" th:text="${log_in_out}"></button></a>
			</form>
			<form style="width:100px;margin:10px 220px 5px;" th:action=@{/signup} method="get">
				<a href='/signup'><button id="btn">新規登録</button></a>
			</form>
			<form style="width:100px;margin:10px 220px 5px;" th:action=@{/list} method="get">
				<a href='/list'><button id="btn">会員リスト</button></a>
			</form>
			</div>
	</div>
</body>

</html>