<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>List</title>
	<style>
		
		table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

	</style>
</head>

<body style="border: solid 0px; margin: 70px 120px; padding: 15px 50px 40px;">
	<div id="main">
		<div id="title">
			<div th:if="${msg}">
				<h1 th:text="${msg}">ようこそ！</h1>
				<h1 th:text="${msg1}">ようこそ！</h1>
			</div>
		</div>
	</div>
	<div id="home">
		<h1>User List</h1>
		<form style=" width:100px;margin:-60px 900px 30px;" th:action=@{/home} method="get">
			<a href='/home'><button id="btn">ホームページ</button></a>
		</form>
	
	</div>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>email</th>
				<th>password</th>
				<th>gender</th>
				<th>marriage</th>
				<th>privacy</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="messageInfoMstModel : ${messageInfoMstModel}">
				<td th:text="${messageInfoMstModel.id}"></td>
				<td th:text="${messageInfoMstModel.name}"></td>
				<td th:text="${messageInfoMstModel.email}"></td>
				<td th:text="${messageInfoMstModel.password}"></td>
				<td th:text="${messageInfoMstModel.gender}"></td>
				<td th:text="${messageInfoMstModel.marriage}"></td>
				<td th:text="${messageInfoMstModel.privacy}"></td>
			</tr>
		</tbody>
	</table>

</body>

</html>