<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head >
    <meta charset="UTF-8" >
    <title >Login Form</title >
</head >
<body >
<div class ="Center">
 <h1> ログイン </h1>
  <form method = "post">
  
   <div class ="text_field">
   <label> ユーザー </label>
    <input type ="text" required placeholder="ユーザー名を入力してください">
     
   </div>
  
  <div class ="text_field">
   <label> パスワード </label>
   <input type ="text" required  placeholder="パスワードを入力してください">
  </div>
</form>
</div>
</form>
</body >
</html >

